{
    "SyncInterval": 1000,
    "Tasks": [
        {
            "Stream": "live/playlist",
            "InactivityTimeout": 10,
            "Blocks": [
                {
                    "Id": "1",
                    "Name": "Intro and two videos",
                    "Start": "2024-09-24 23:00:00",
                    "DefaultStream": {
                        "Type": "vod",
                        "Source": "default_loop.mp4"
                    },
                    "Streams": [
                        {
                            "Type": "vod",
                            "Source": "clip1.mp4"
                        },
                        {
                            "Type": "vod",
                            "Source": "clip2.mp4"
                        },
                        {
                            "Type": "vod",
                            "Source": "clip3.mp4"
                        }
                    ]
                }
            ]
        }
    ]
}